<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @entreprise.nom %>
</p>

<p>
  <strong>Téléphone:</strong>
  <%= @entreprise.telephone %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @entreprise.adresse %>
</p>


<%= link_to 'Editer', edit_entreprise_path(@entreprise) %> |
<%= link_to 'Retour', entreprises_path %>
