<p id="notice"><%= notice %></p>

<p>
  <strong>Prénom:</strong>
  <%= @beneficiaire.prenom %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @beneficiaire.nom %>
</p>

<p>
  <strong>Téléphone:</strong>
  <%= @beneficiaire.telephone %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @beneficiaire.adresse %>
</p>

<p>
  <strong>Organisme:</strong>
	<%= Organisme.find(@beneficiaire.organisme_id).nom %>
</p>

<p>
  <strong>Priorité:</strong>
  <%= @beneficiaire.priorite_beneficiaire_id %>
</p>

<%= link_to 'Editer', edit_beneficiaire_path(@beneficiaire) %> |
<%= link_to 'Retour', beneficiaires_path %>
