<p id="notice"><%= notice %></p>

<p>
  <strong>Prenom:</strong>
  <%= @beneficiaire.prenom %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @beneficiaire.nom %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @beneficiaire.telephone %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @beneficiaire.adresse %>
</p>

<p>
  <strong>Organisme:</strong>
  <%= @beneficiaire.organisme_id %>
</p>

<p>
  <strong>Priorite beneficiaire:</strong>
  <%= @beneficiaire.priorite_beneficiaire_id %>
</p>

<%= link_to 'Edit', edit_beneficiaire_path(@beneficiaire) %> |
<%= link_to 'Back', beneficiaires_path %>
