<p id="notice"><%= notice %></p>

<h1>Listing Etat Ordinateurs</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etat_ordinateurs.each do |etat_ordinateur| %>
      <tr>
        <td><%= etat_ordinateur.description %></td>
        <td><%= link_to 'Show', etat_ordinateur %></td>
        <td><%= link_to 'Edit', edit_etat_ordinateur_path(etat_ordinateur) %></td>
        <td><%= link_to 'Destroy', etat_ordinateur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etat ordinateur', new_etat_ordinateur_path %>
