<h2>
   Spécification des rôles de <%= @user.username %>
</h2>
<%= form_for(@user, :url => save_roles_user_path(@user), method: :put) do |f| %>        
   <% for role in Role.all %>      
      <div class="form-group">         
         <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>         
         <%= role.name %>      
      </div>    
   <% end %>  
   <div class="actions">      
      <%= f.submit "Sauvegarder", class: 'btn btn-primary' %>    
   </div>  
<%= link_to 'Retour', users_path %>
<% end %> 