<p id="notice"><%= notice %></p>

<h1>Donner des ordinateurs aux organismes</h1>

<p class="bg-info">Il y a encore <span id="ordi_dispo"><%= @nb_ordinateurs_dispo %></span> ordinateur(s) prêt(s) en stock.</p>
<div class="col-md-6">
<% @organismes.each do |organisme| %>
  <h2><%= organisme.nom %>:</h2>
  <%= form_for(organisme, :remote => true) do |f| %>
    <div id="error_explanation_<%= organisme.id %>">
    </div>
		<div class="field form-group">
			<%= f.label 'Ordinateurs à disposition' %><br>
			<%= f.number_field :nb_ordinateurs_dispo, class: 'form-control' %>
		</div>
     
    
    <%= f.submit "Modifier", class: 'btn btn-primary'%>
  <% end %>
<% end %>
</div>
<br>

<%= link_to 'Voir les ordinateurs', ordinateurs_path, class: 'btn btn-info' %>
