<p id="notice"><%= notice %></p>

<h1>Donner des ordinateurs aux organismes</h1>

<p>il y a encore <span id="ordi_dispo"><%= @nb_ordinateurs_dispo %></span> ordinateurs en stock.</p>

<% @organismes.each do |organisme| %>
  <p>
  <%= organisme.nom %> :
  <br>
  <%= form_for(organisme, :remote => true) do |f| %>
    <div id="error_explanation_<%= organisme.id %>">
    </div>
    Ordinateurs à disposition : 
    <%= f.number_field :nb_ordinateurs_dispo %>
    <%= f.submit "Modifier"%>
  <% end %>
  </p>
<% end %>

<br>

<%= link_to 'Voir ordinateurs', ordinateurs_path %>