<p id="notice"><%= notice %></p>

<h1>Organismes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Téléphone</th>
      <th>Adresse</th>
      <th>Ordinateurs disponibles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organismes.each do |organisme| %>
      <tr>
        <td><%= organisme.nom %></td>
        <td><%= organisme.telephone %></td>
        <td><%= organisme.adresse %></td>
        <td><%= organisme.nb_ordinateurs_dispo %></td>
        <td><%= link_to 'Voir', organisme %></td>
        <td><%= link_to 'Editer', edit_organisme_path(organisme) %></td>
        <td><%= link_to 'Effacer', organisme, method: :delete, data: { confirm: 'Etes-vous sûr?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter un organisme', new_organisme_path, class: 'btn btn-info' %>
