<p id="notice"><%= notice %></p>

<h2>Plages horaires disponibles pour un rendez-vous</h2>
  <% @rendez_vous.each do |rendez_vou| %>
    <div id="form_rdv_<%= rendez_vou.id %>">
    <%= form_for(rendez_vou, :remote => true) do |f| %>
      <div>
        <b>Heure: <%= rendez_vou.date %>
</b>
      </div>
      <div class="field  form-group">
        <%= f.label :beneficiaire_id %>
        <%= f.collection_select(:beneficiaire_id, @beneficiaires, :id, :nom, {:include_blank => 'Sélectionner'}, class: 'form-control') %>
      </div>
      <div class="actions">
        <%= f.submit "Assigner", class: 'btn btn-primary' %>
      </div>
    <% end %>
    </div>
  <% end %>

<br>
