<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @organisme.nom %>
</p>

<p>
  <strong>Téléphone:</strong>
  <%= @organisme.telephone %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @organisme.adresse %>
</p>

<p>
  <strong>Ordinateurs disponibles:</strong>
  <%= @organisme.nb_ordinateurs_dispo %>
</p>

<%= link_to 'Editer', edit_organisme_path(@organisme) %> |
<%= link_to 'Retour', organismes_path %>
