<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @organisme.nom %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @organisme.telephone %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @organisme.adresse %>
</p>

<p>
  <strong>User:</strong>
  <%= @organisme.user_id %>
</p>

<p>
  <strong>Ordinateurs disponibles:</strong>
  <%= @organisme.nb_ordinateurs_dispo %>
</p>

<%= link_to 'Edit', edit_organisme_path(@organisme) %> |
<%= link_to 'Back', organismes_path %>
