<%= form_for(@ordinateur) do |f| %>
  <% if @ordinateur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordinateur.errors.count, "error") %> prohibited this ordinateur from being saved:</h2>

      <ul>
      <% @ordinateur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br>
    <%= f.number_field :numero %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :entreprise_id %><br>
    <%= f.number_field :entreprise_id %>
  </div>
  <div class="field">
    <%= f.label :beneficiaire_id %><br>
    <%= f.number_field :beneficiaire_id %>
  </div>
  <div class="field">
    <%= f.label :etat_ordinateur_id %><br>
    <%= f.number_field :etat_ordinateur_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
