<%= form_for(@ordinateur) do |f| %>
  <% if @ordinateur.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordinateur.errors.count, "error") %> prohibited this ordinateur from being saved:</h2>

      <ul>
      <% @ordinateur.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br>
    <%= f.number_field :numero %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :entreprise_id %><br>
    <%= f.collection_select(:entreprise_id, @entreprises, :id, :nom, {:include_blank => ''}) %>
    <%= link_to '+', new_entreprise_path %>
  </div>
  <div class="field">
    <%= f.label :beneficiaire_id %><br>
    <%= f.collection_select(:beneficiaire_id, @beneficiaires, :id, :nom, {:include_blank => ''}) %>
    <%= link_to '+', new_beneficiaire_path %>
  </div>
  <div class="field">
    <%= f.label :etat_ordinateur_id %><br>
    <%= f.collection_select(:etat_ordinateur_id, @etat_ordinateurs, :id, :description, {:include_blank => ''}) %>
    <%= link_to '+', new_etat_ordinateur_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
