<p id="notice"><%= notice %></p>

<h1>Listing Ordinateurs</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Description</th>
      <th>Entreprise</th>
      <th>Beneficiaire</th>
      <th>Etat ordinateur</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordinateurs.each do |ordinateur| %>
      <tr>
        <td><%= ordinateur.numero %></td>
        <td><%= ordinateur.description %></td>
        <td><%= Entreprise.find(ordinateur.entreprise_id).nom %></td>
        <% if (ordinateur.beneficiaire_id == nil) %>
        <td>Non attribué</td>
        <% else %>
        <td><%= Beneficiaire.find(ordinateur.beneficiaire_id).nom %></td>
        <% end %>
        <td><%= EtatOrdinateur.find(ordinateur.etat_ordinateur_id).description %></td>
        <td><%= link_to 'Show', ordinateur %></td>
        <td><%= link_to 'Edit', edit_ordinateur_path(ordinateur) %></td>
        <td><%= link_to 'Destroy', ordinateur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ordinateur', new_ordinateur_path %>
