<p id="notice"><%= notice %></p>

<h1>Ordinateurs</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Numéro</th>
      <th>Description</th>
      <th>Entreprise</th>
      <th>Bénéficiaire</th>
      <th>Etat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordinateurs.each do |ordinateur| %>
      <tr>
        <td><%= ordinateur.numero %></td>
        <td><%= ordinateur.description %></td>
        <td><%= Entreprise.find(ordinateur.entreprise_id).nom %></td>
        <% if (ordinateur.beneficiaire_id == nil) %>
        <td>Non attribué</td>
        <% else %>
        <td><%= Beneficiaire.find(ordinateur.beneficiaire_id).nom %></td>
        <% end %>
        <td><%= EtatOrdinateur.find(ordinateur.etat_ordinateur_id).description %></td>
        <td><%= link_to 'Voir', ordinateur %></td>
        <td><%= link_to 'Editer', edit_ordinateur_path(ordinateur) %></td>
        <td><%= link_to 'Effacer', ordinateur, method: :delete, data: { confirm: 'Etes-vous sûr?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter un ordinateur', new_ordinateur_path, class: 'btn btn-info' %>
