<p id="notice"><%= notice %></p>

<h1>Ordinateurs de <%= @entreprise.nom %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Numéro</th>
      <th>Description</th>
      <th>Etat de l'ordinateur</th>
    </tr>
  </thead>

  <tbody>
    <% @ordinateurs.each do |ordinateur| %>
      <tr>
        <td><%= ordinateur.numero %></td>
        <td><%= ordinateur.description %></td>
        <td><%= EtatOrdinateur.find(ordinateur.etat_ordinateur_id).description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
