<p id="notice"><%= notice %></p>

<p>
  <strong>Numéro:</strong>
  <%= @ordinateur.numero %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ordinateur.description %>
</p>

<p>
  <strong>Entreprise:</strong>
  <%= Entreprise.find(@ordinateur.entreprise_id).nom %>
</p>

<p>
  <strong>Bénéficiaire:</strong>
  <%= Beneficiaire.find(@ordinateur.beneficiaire_id).nom %>
</p>

<p>
  <strong>Etat:</strong>
  <%= @ordinateur.etat_ordinateur.description %>
</p>

<%= link_to 'Editer', edit_ordinateur_path(@ordinateur) %> |
<%= link_to 'Retour', ordinateurs_path %>
