<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @ordinateur.numero %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ordinateur.description %>
</p>

<p>
  <strong>Entreprise:</strong>
  <%= Entreprise.find(@ordinateur.entreprise_id).nom %>
</p>

<p>
  <strong>Beneficiaire:</strong>
  <%= Beneficiaire.find(@ordinateur.beneficiaire_id).nom %>
</p>

<p>
  <strong>Etat ordinateur:</strong>
  <%= EtatOrdinateur.find(@ordinateur.etat_ordinateur_id).description %>
</p>

<%= link_to 'Edit', edit_ordinateur_path(@ordinateur) %> |
<%= link_to 'Back', ordinateurs_path %>
