<div class="col-md-6">
<%= form_for(@rendez_vou) do |f| %>
  <% if @rendez_vou.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rendez_vou.errors.count, "error") %> prohibited this rendez_vou from being saved:</h2>

      <ul>
      <% @rendez_vou.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :date %><br>
    <%= f.date_select :date, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :beneficiaire_id %><br>
    <%= f.collection_select(:beneficiaire_id, @beneficiaires, :id, :nom, {:include_blank => 'Sélectionner'}, class: 'form-control') %>
  </div>
  <div class="field form-group">
    <%= f.label :employe_id %><br>
    <%= f.collection_select(:employe_id, @employes, :id, :nom, {:include_blank => 'Sélectionner'}, class: 'form-control') %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
</div>