<%= form_for(@rendez_vou) do |f| %>
  <% if @rendez_vou.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rendez_vou.errors.count, "error") %> prohibited this rendez_vou from being saved:</h2>

      <ul>
      <% @rendez_vou.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :beneficiaire_id %><br>
    <%= f.number_field :beneficiaire_id %>
  </div>
  <div class="field">
    <%= f.label :employe_id %><br>
    <%= f.number_field :employe_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
