<p id="notice"><%= notice %></p>

<h1>Rendez-vous</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Bénéficiaire</th>
      <th>Employé BlueEagle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rendez_vous.each do |rendez_vou| %>
      <tr>
        <td><%= rendez_vou.date %></td>
        <td><%= Beneficiaire.find(rendez_vou.beneficiaire_id).prenom %> <%= Beneficiaire.find(rendez_vou.beneficiaire_id).nom %></td>
        <td><%= Employe.find(rendez_vou.employe_id).prenom %> <%= Employe.find(rendez_vou.employe_id).nom %></td>
        <td><%= link_to 'Voir', rendez_vou %></td>
        <td><%= link_to 'Editer', edit_rendez_vou_path(rendez_vou) %></td>
        <td><%= link_to 'Effacer', rendez_vou, method: :delete, data: { confirm: 'Etes-vous sûr' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Organiser un rendez-vous', new_rendez_vou_path, class: 'btn btn-info' %>
