<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @rendez_vou.date %>
</p>

<p>
  <strong>Bénéficiaire:</strong>
  <% if @rendez_vou.beneficiaire_id != nil %>
    <%= Beneficiaire.find(@rendez_vou.beneficiaire_id).prenom %> <%= Beneficiaire.find(@rendez_vou.beneficiaire_id).nom %>
  <% else %>
    non assigné
  <% end %>
</p>

<p>
  <strong>Employé:</strong>
  <% if @rendez_vou.employe_id != nil %>
    <%= Employe.find(@rendez_vou.employe_id).prenom %> <%= Employe.find(@rendez_vou.employe_id).nom %>
  <% else %>
    non assigné
  <% end %>
</p>

<%= link_to 'Editer', edit_rendez_vou_path(@rendez_vou) %> |
<%= link_to 'Retour', rendez_vous_path %>
