<%
  @user = current_user

  if (@user != nil)
    @user_id = current_user.id

		 if (@user.has_role?(:admin))
        @admin = @user
     end

    entreprises = Entreprise.all
    for entreprise in entreprises do
      if (entreprise.user_id == @user_id)
        @entreprise = entreprise
      end
    end

    organismes = Organisme.all
    for organisme in organismes do
      if (organisme.user_id == @user_id)
        @organisme = organisme
      end
    end

    employes = Employe.all
    for employe in employes do
      if (employe.user_id == @user_id)
        @employe = employe
      end
    end
  end
%>

<!DOCTYPE html>
<html>
<head>
  <title>BlueEagle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <!-- Fixed navbar -->
   <nav class="navbar navbar-inverse navbar-top">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BlueEagle</a>
         </div>
         <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-form navbar-right">
               <ul class="nav navbar-nav">
                  <li><a href="#contact">Contact</a></li>
                  <li>
                     <% if user_signed_in? %>      
                        <%= link_to current_user.username, edit_user_registration_path %> 
                     <% elsif request.env['PATH_INFO']== '/users/sign_in' ||  request.env['PATH_INFO']== '/users/sign_up' %>      
                        <%= link_to "Connexion", new_user_session_path %>
                     <% end %> 
                  </li>
                  <li>
                     <% if user_signed_in? %>     
                        <%= link_to "Déconnexion", destroy_user_session_path, :method => :delete %>         
                     <% elsif request.env['PATH_INFO']== '/users/sign_in' ||  request.env['PATH_INFO']== '/users/sign_up' %>      
                        <%= link_to "Enregistrez-vous", new_user_registration_path %>     
                     <% end %> 
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </nav>
 
   <div class="container" role="main">
      <div class="row">
         <div class="col-md-3" id="links">
            <ul>							
							  <% if can? :menu_admin, @user %> 
                  <li>
                     <%= link_to 'Utilisateurs', users_path(), class: 'btn-lg' %>		 
                  </li>
									<li>
											<%= link_to 'Employés', employes_path(), class: 'btn-lg' %>
									</li>
									<li>
									 <%= link_to 'Entreprises', entreprises_path(), class: 'btn-lg' %>
									</li>
									<li>
										 <%= link_to 'Organismes', organismes_path(), class: 'btn-lg' %>
                  </li>
																<li>
										<%= link_to 'Bénéficiaires', beneficiaires_path(), class: 'btn-lg' %>
									</li>
									<li>
										 <%= link_to 'Ordinateurs', ordinateurs_path(), class: 'btn-lg' %>
                  </li>
									<li>
										<%= link_to 'Rendez-vous', rendez_vous_path(), class: 'btn-lg' %>
									</li>
                  <li>
										 <%= link_to 'Donner un ordinateur', donner_ordinateurs_path(), class: 'btn-lg' %>
                  </li>
                <% end %> 
							<% if (@entreprise != nil) %>
                  <li>
										 <%= link_to 'Suivi ordinateurs', index_ordinateurs_entreprise_path(), class: 'btn-lg' %>
                  </li>
							<% end %>
              <% if ((@employe != nil) && (@admin == nil)) %>
                  <li>
										 <%= link_to 'Gestion ordinateurs', ordinateurs_path(), class: 'btn-lg' %>
                  </li>
                  <li>
										 <%= link_to 'Donner ordinateurs', donner_ordinateurs_path(), class: 'btn-lg' %>
                  </li>
							<% end %>
              <% if (@organisme != nil) %>
                  <li>
										 <%= link_to 'Organiser rdv', organiser_rdv_path(), class: 'btn-lg' %>
                  </li>
                  <li>
										 <%= link_to 'Gérer bénéficiaires', gerer_beneficiaires_path(), class: 'btn-lg' %>
                  </li>
							<% end %>
            </ul>
         </div>
         <div class="col-md-8">
              <%= yield %>
         </div>
      </div>
   </div>
</body>
</html>
